.botao-ui {
  position: relative;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  background-color: #c7a02c;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.posicao-botao{
  margin-left: 5px;
  position: absolute;
  vertical-align: middle;
}
