<!--fotos dos serviços-->
<section class="config-container">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title-qs">Serviços</h3>
            </div>
            <div class="col-lg-12 col-sm-12 borda-branca"></div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/alternador.png" class="img-services">
                    <figcaption class="text-services">
                        Alternador
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" routerLink="/produtos" class="btn botao-servico">
                        VER-MAIS +
                    </button>
                    <router-outlet></router-outlet>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/partida-motor.png" class="img-services">
                    <figcaption class="text-services">
                        Motor de Partida
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" routerLink="/produtos" class="btn botao-servico">
                        VER-MAIS +
                    </button>
                    <router-outlet></router-outlet>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/seta.png" class="img-services">
                    <figcaption class="text-services">
                        Chave de Seta e muito mais
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" routerLink="/produtos" class="btn botao-servico" 
                            >VER-MAIS +
                    </button>
                    <router-outlet></router-outlet>
                </figure>
            </div>
            <!-- servicos -->
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/seta.png" class="img-services">
                    <figcaption class="text-services">
                        Chave de Seta e muito mais
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" routerLink="/servicos" class="btn botao-servico" 
                            >VER-MAIS +
                    </button>
                    <router-outlet></router-outlet>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/seta.png" class="img-services">
                    <figcaption class="text-services">
                        Chave de Seta e muito mais
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" routerLink="/servicos" class="btn botao-servico" 
                            >VER-MAIS +
                    </button>
                    <router-outlet></router-outlet>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/seta.png" class="img-services">
                    <figcaption class="text-services">
                        Chave de Seta e muito mais
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" routerLink="/servicos" class="btn botao-servico" 
                            >VER-MAIS +
                    </button>
                    <router-outlet></router-outlet>
                </figure>
            </div>
        </div>
    </div>
</section>