<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <mat-card class="card-comentario">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-comentario"></div>
                    <mat-card-title>Fernando Toledo</mat-card-title>
                    <span class="material-icons star-color">
                        star star star star star
                    </span>
                </mat-card-header>
                <mat-card-content>
                    <p>Recomendo a todos! Honestidade ( difícil hoje em dia ) Preço justo!</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6 col-sm-12">
            <mat-card class="card-comentario">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-comentario-2"></div>
                    <mat-card-title>Dionísio Souza</mat-card-title>
                    <span class="material-icons star-color">
                        star star star star star
                    </span>
                </mat-card-header>
                <mat-card-content>
                    <p>Sempre resolve os problemas elétricos do carro, rapidez e preço justo</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>