<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center apres-img">
            <h2 id="text-img">Serviços em Auto Elétrica Automotiva em Maceió/AL</h2>
            <!--<button type="button" class="btn btn-warning botao">
                Solicite um Orçamento!
            </button>-->
            <app-button></app-button>
        </div>
    </div>
</div>
<!--quem somos-->
<!--fale pelo whatssap e instagram-->
<section id="quem-somos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title-qs">Serviços de Revisão e <br>
                    Manutenção Elétrica</h3>
            </div>
            <div class="col-lg-12 col-sm-12 borda-branca"></div>
            <div class="col-lg-12">
                <p class="texto-section">
                    A Sennay Auto Elétrica é uma empresa especializada em revisão e manutenção elétrica do seu
                    automóvel.
                </p>
                <p class="texto-section">
                    Além de serviços temos peças e acessorios para seu veículo.
                </p>
                <button type="button" class="btn botao-instagram">ENTRE EM CONTATO</button>
            </div>
        </div>
    </div>
</section>
<!--instagram-->
<section id="instagram-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title-qs-inst">Conheça nossa página do Instagram</h3>
            </div>
            <div class="col-lg-2 col-sm-12">
                <i class="bi bi-instagram insta-logo">
                </i>
            </div>
            <div class="col-lg-10 col-sm-12">
                <p class="texto-inst">Vai lá, e veja nosso cotidiano, nosso trabalho com fotos e novidades!
                </p>
                <span class="link-inst">@auto_eletrica.do.senay</span>
            </div>
        </div>
    </div>
</section>

<!--fotos dos serviços-->
<section class="config-container">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title-qs">Serviços/Produtos</h3>
            </div>
            <div class="col-lg-12 col-sm-12 borda-branca"></div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/lampada.PNG" class="img-services">
                    <figcaption class="text-services">
                        Troca de Lâmpadas em Geral
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" class="btn botao-servico">SAIBA-MAIS +</button>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/motors.png" class="img-services">
                    <figcaption class="text-services">
                        Motor de Partida
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" class="btn botao-servico">SAIBA-MAIS +</button>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure-services">
                    <img src="assets/img/seta.png" class="img-services">
                    <figcaption class="text-services">
                        Chave de Seta e muito mais
                        <div class="borda"></div>
                    </figcaption>
                    <button type="button" class="btn botao-servico">SAIBA-MAIS +</button>
                </figure>
            </div>
            <div class="col-lg-12">
                <h3 class="title-qs">Depoimentos</h3>
            </div>
            <div class="col-lg-12 col-sm-12 borda-branca"></div>
            <app-card></app-card>
            <div class="col-lg-12">
                <h3 class="title-qs">Nossa Oficina</h3>
            </div>
            <div class="col-lg-12 col-sm-12 borda-branca"></div>
            <div class="col-lg-3 col-sm-12">
                <img src="assets/img/f-1.jpg" alt="" class="img-qs">
            </div>
            <div class="col-lg-3 col-sm-12">
                <img src="assets/img/f-2.jpg" alt="" class="img-qs">
            </div>
            <div class="col-lg-3 col-sm-12">
                <img src="assets/img/f-3.jpg" alt="" class="img-qs">
            </div>
            <div class="col-lg-3 col-sm-12">
                <img src="assets/img/f-4.jpg" alt="" class="img-qs">
            </div>
        </div>
    </div>
</section>
<section id="pre-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-sm-0"></div>
            <div class="col-lg-5 col-sm-12">
                <p class="titulo-pre-footer">Contatos</p>
                <br>
                <p class="texto-pre-footer">
                    <i class="bi bi-whatsapp"> WhatsApp: (82) 98869-7204</i>
                </p>
                <br>
                <p class="texto-pre-footer">
                    <i class="bi bi-instagram"> Instagram: @auto_eletrica.do.senay
                    </i>
                </p>
                <br>
                <p class="texto-pre-footer">
                    <i class="bi bi-envelope"> Email: sennay@gmail.com</i>
                </p>
                <p class="titulo-pre-footer">Horário de Atendimento</p>
                <p class="texto-pre-footer">
                    Segunda à Sexta das 8h às 18h
                </p>
                <p class="texto-pre-footer">
                    Sábado das 8h às 12h
                </p>
            </div>
            <div class="col-lg-5 col-sm-12">
                <p class="titulo-pre-footer">Endereço</p>
                <br>
                <p class="texto-pre-footer">
                    <i class="bi bi-geo-alt-fill"> Av. Dr. Fernando Couto Malta - Cidade Universitária -
                        Maceió/Alagoas</i>
                </p>
                <google-map height="250px" width="450px" [center]="position">
                    <map-marker [position]="position" [label]="label" [title]="title">
                    </map-marker>
                </google-map>
            </div>
            <div class="col-lg-1 col-sm-0"></div>
        </div>
    </div>
</section>